<div class="home">
<div class="container my-4">
    <h3>Welcome to Our User management System</h3>
    <p>
      Authentication, registration, and basic profile management. Users can securely log in, register new accounts, and view/edit their profile information. The system ensures a level of access control, distinguishing between different user roles. Password management features enable users to reset their passwords for enhanced security. The project emphasizes simplicity and user-friendliness, providing a streamlined experience for individuals interacting with the web application.
    </p>
    <p>
      Key Features:

      User Authentication: Login and Logout.
      User Registration: Account creation with basic details.
      Profile Management: View and edit personal information.
      Access Control: Differentiating user roles for varied access.
      Password Management: Secure password reset functionality.
      Simplified Design: User-friendly interface for ease of use.
      This simple User Management system caters to the essential needs of users, promoting a straightforward and efficient experience within the web application.
    </p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>